/* css by Shauna Kimura */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

form {
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 8px 6px -6px #777;
  margin: auto;
  margin-bottom: 10%;
  padding: 20px;
  width: 80%;
}

fieldset {
  border: none;
  margin-bottom: 1em;
}

label {
  color: #3b3a30;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

label+.add {
  margin-bottom: 1em;
}

input[type=text], input[type=url], input[type=number], select {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10pt;
  padding: 12px;
  width: 100%;
}

input[type=submit], input[type=button] {
  background-color: #77a8a8;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 10pt;
}

input[type=submit] {
  float: right;
  padding: 12px 20px;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  table-layout: auto;
  width: 100%;
}

table th, td {
  color: #3b3a30;
  font-weight: normal;
  text-align: left;
}

table input {
  padding: 8px;
}

footer {
  background: #b9b0b0;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: .5em;
  position: fixed;
  text-align: center;
  width: 100%;
}

.add {
  padding: 4px 8px;
}

.delete {
  padding: 12px;
}