/* CSS by Shauna Kimura */


body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

header{
  border-bottom: double firebrick;
  text-transform: uppercase;
  width: 100%;
}

img#logo{
  margin-top: 2em;
  padding: 0;
  width: 400px;
}

h2 {
  color: firebrick;
  font-size: 14pt;
}

h3{
  color: firebrick;
  font-size: 12pt;
}

p{
  color: black;
  margin-left: .5cm;
}

section#home{
  text-align: center;
}

footer{
  border-top: double firebrick;
  clear: both;
  margin-top: 14em;
}

footer p{
  color: firebrick;
  display: block;
  font-style: italic;
}

footer p.bottom-right{
  float: right;
}

footer p.bottom-left{
  float: left;
}

span.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
  margin-left: 0;
}

li{
  padding-bottom: 6px;
}

table{
  font-family: "Arial";
  margin-top: 1em;
  text-align: left;
  width: 100%;
}

table th{
  background-color: firebrick;
  color: white;
  padding: 6px;
}

table, td {
  border-collapse: collapse;
  padding: 6px;
}

tr:nth-child(even){
  background-color: gainsboro;
}

section#support p{
  margin-left: 1em;
}

section#signature p.bold{
  margin-left: 1em;
}

section#signature div{
  margin-top: 10em;
}

section#signature label{
  clear: both;
  float: left;
  font-style: italic;
  margin-left: 2em;
  padding-right: 1em;
  padding-top: 6px;
}

section#signature input{
  border: none;
  border-bottom: 1px solid black;
  clear: both;
  float: left;
  margin-left: 2em;
  margin-top: 2em;
  width:60%;
}
p.disclaimer{
  color: #D8000C;
  font-style: italic;
  margin-left: 0;
}
