/* CSS by Shauna Kimura */

header{
  border-bottom: double firebrick;
}

h2 {
  color: firebrick;
}

h3{
  color: firebrick;
}

footer{
  border-top: double firebrick;
  color: firebrick;
}

table th{
  background-color: firebrick;
}
