/* CSS by Shauna Kimura */

header{
  border-bottom: double rgba(26, 127, 195, 1);
}

div.images{
  display: inline-block;
  margin-left: 1em;
}

div.images img{
  width: 200px;
  margin-right: 2em;
}

h2 {
  color: rgba(26, 127, 195, 1);
}

h3{
  color: rgba(26, 127, 195, 1);
}

footer{
  border-top: double rgba(26, 127, 195, 1);
  color: rgba(26, 127, 195, 1);
}

table th{
  background-color: rgba(26, 127, 195, 1);
}
