/* CSS by Shauna Kimura */


body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
  width: 90%;
}

header{
  border-bottom: double rgba(26, 127, 195, 1);
  text-transform: uppercase;
  width: 100%;
}

img#logo{
  margin-top: 2em;
  width: 600px;
}

div.images{
  display: inline-block;
  margin-left: 1em;
}

div.images img{
  width: 200px;
  margin-right: 2em;
}

h2 {
  color: rgba(26, 127, 195, 1);
  font-size: 14pt;
}

h3{
  color: rgba(26, 127, 195, 1);
  font-size: 12pt;
}

p{
  color: black;
  margin-left: .5cm;
}

section#home{
  text-align: center;
}

section#vendor-selection{
  clear: both;
  padding-top: 1em;
}

footer{
  border-top: double rgba(26, 127, 195, 1);
  clear: both;
  margin-top: 14em;
}

footer p{
  color: rgba(26, 127, 195, 1);
  display: block;
  font-style: italic;
}

footer p.bottom-right{
  float: right;
}

footer p.bottom-left{
  float: left;
}

span.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
  margin-left: none;
}

li{
  padding-bottom: 6px;
}

table{
  font-family: "Arial";
  margin-top: 1em;
  text-align: left;
  width: 100%;
}

table th{
  background-color: rgba(26, 127, 195, 1);
  color: white;
  padding: 6px;
}

table, td {
  border-collapse: collapse;
  padding: 6px;
}

tr:nth-child(even){
  background-color: gainsboro;
}

p.disclaimer{
  color: #D8000C;
  font-style: italic;
  margin-left: 0;
}

section#signature div{
  margin-top: 10em;
}

section#signature label{
  clear: both;
  float: left;
  font-style: italic;
  margin-left: 2em;
  padding-right: 1em;
  padding-top: 6px;
}

section#signature input{
  border: none;
  border-bottom: 1px solid black;
  clear: both;
  float: left;
  margin-left: 2em;
  margin-top: 2em;
  width:60%;
}

div.new-page{
  margin-bottom: 6em;
}
