<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>Proposal Form</title>

  <link rel="stylesheet" type="text/css" href="../static/form.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

  <form id="form" action="/forward/" method="post">
    <fieldset>
      <label for="link">Estimate Link</label>
      <input type="url" id="link" name="link" placeholder="Copy and paste the link of an estimate in Service Fusion.">
    </fieldset>

    <fieldset>
      <label for="company">Company</label>
      <select id="company" name="company">
        <option value="" disabled selected="selected">Select an Option</option>
        <option value="phd">PHD Communications</option>
        <option value="moore">Moore Enterprises</option>
      </select>
    </fieldset>

    <fieldset>
      <label>Business Challenges</label>
      <input type="button" value="Add Challenge" class="add" id="addChallenge">
      <table id="challenges">
        <tbody>
          <td><input type="text" name="challenge" placeholder="What are the challenges of this project?"></td>
          <td><input type="button" value="Delete" class="delete"></td>
        </tbody>
      </table>
    </fieldset>

    <fieldset>
      <label>Project Goals</label>
      <input type="button" value="Add Goal" class="add" id="addGoal">
      <table id="goals">
        <tbody>
          <td><input type="text" name="goal" placeholder="What are the goals of this project?"></td>
          <td><input type="button" value="Delete" class="delete"></td>
        </tbody>
      </table>
    </fieldset>

    <fieldset>
      <label>Project Benefits</label>
      <input type="button" value="Add Benefit" class="add" id="addBenefit">
      <table id="benefits">
        <tbody>
          <td><input type="text" name="benefit" placeholder="What are the benefits of this project?"></td>
          <td><input type="button" value="Delete" class="delete"></td>
        </tbody>
      </table>
    </fieldset>

    <fieldset>
      <label>Current Service Products and Costs</label>
      <input type="button" value="Add Service" class="add" id="addRow">
      <table id="current">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Description</th>
            <th>Each</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="number" name="qty" class="qty"></td>
            <td><input type="text" name="service" class="service"></td>
            <td><input type="text" name="price" value="$" class="price"></td>
            <td><input type="text" name="subtot" value="$" class="subtot"></td>
            <td><input type="button" value="Delete" class="delete"></td>
          </tr>
        </tbody>
      </table>
    </fieldset>

    <fieldset>
      <label>Voice and Data Carrier Services</label><br>

      <input type="checkbox" name="vendor" id="nhc" value="New Horizons Communications">
      <label for="nhc">New Horizons Communications</label><br>

      <input type="checkbox" name="vendor" id="whitemtn" value="White Mountain IT Services">
      <label for="whitemtn">White Mountain IT Services</label><br>

      <input type="checkbox" name="vendor" id="verizon" value="Verizon Fiber Services">
      <label for="verizon">Verizon Fiber Services</label><br>

      <input type="checkbox" name="vendor" id="comcast" value="Comcast Business Services">
      <label for="comcast">Comcast Business Services</label><br>
    </fieldset>

    <fieldset>
      <input type="submit" value="Create Proposal">
    </fieldset>

  </form>

  <footer>HTML & CSS by Shauna Kimura</footer>

  <script>
    $('#current').on('click', 'input[type="button"]', function() {
      $(this).closest('tr').remove();

    })
    $('input#addRow').click(function() {
      $('#current tbody').append(
        '<tr><td><input type="number" name="qty" class="qty"></td><td><input type="text" name="service" class="service"></td><td><input type="text" name="price" class="price" value="$"></td><td><input type="text" name="subtot" class="subtot" value="$"></td><td><input type="button" value="Delete" class="delete"></td></tr>'
      )

    });

    $('#challenges').on('click', 'input[type="button"]', function() {
      $(this).closest('tr').remove();

    })
    $('input#addChallenge').click(function() {
      $('#challenges tbody').append(
        '<tr><td><input type="text" name="challenge"></td><td><input type="button" value="Delete" class="delete"></td></tr>'
      )

    });

    $('#goals').on('click', 'input[type="button"]', function() {
      $(this).closest('tr').remove();

    })
    $('input#addGoal').click(function() {
      $('#goals tbody').append(
        '<tr><td><input type="text" name="goal"></td><td><input type="button" value="Delete" class="delete"></td></tr>'
      )

    });

    $('#benefits').on('click', 'input[type="button"]', function() {
      $(this).closest('tr').remove();

    })
    $('input#addBenefit').click(function() {
      $('#benefits tbody').append(
        '<tr><td><input type="text" name="benefit"></td><td><input type="button" value="Delete" class="delete"></td></tr>'
      )

    });

    $
  </script>
</body>


</html>